<!--_meta 作为公共模版分离出去-->
<!DOCTYPE HTML>
<html>

<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <LINK rel="Bookmark" href="/favicon.ico">
  <LINK rel="Shortcut Icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<script type="text/javascript" src="lib/PIE_IE678.js"></script>
<![endif]-->
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/static/h-ui.admin/layui-v2.2.5/layui/css/layui.css" />
  <!--[if IE 6]>
<script type="text/javascript" src="http://lib.h-ui.net/DD_belatedPNG_0.0.8a-min.js" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
  <!--/meta 作为公共模版分离出去-->

  <title></title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <style>
    .layui-form {
      padding: 44px 104px;
    }
  </style>
</head>

<body>
  <form class="layui-form layui-form-pane">
    <div class="layui-form-item">
      <label class="layui-form-label">标题</label>
      <div class="layui-input-inline">
        <input value="{$classify.id}" hidden="hidden" name="id" lay-verify="id" />
        <input value="{$p_id}" hidden="hidden" name="p_id" lay-verify="p_id" />
        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题" class="layui-input" value="{$classify.title}">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">图片</label>
      <button type="button" class="layui-btn" id="image" style="position: relative;">
        <i class="layui-icon">&#xe67c;</i>上传图片
        <input type="file" class="upload-pic" value="上传图片" style="position: absolute;font-size: 0;width: 100%;height: 100%;outline: 0;opacity: 0;filter: alpha(opacity=0);top:0;left:0;z-index: 1;cursor: pointer;">
      </button>
      <if condition="$classify.img != ''">
	      <div style="display: inline-block;">
	      	 <img src="{$classify.img}" height="38" />
	      </div>
      </if>
    </div>
    <if condition="$type eq 'sub'">
	    <div class="layui-form-item">
	      <label class="layui-form-label">主分类</label>
	      <div class="layui-input-inline">
	        <select name="s_id" lay-search="">
	          <option value="0">直接选择或搜索选择</option>
	          <volist name="article_classify" id="vo">
	             <option value="{$vo.id}" <if condition="$classify['p_id'] eq $vo['id']">selected</if> >{$vo.title}</option>
	          </volist>
	        </select>
	      </div>
	    </div> 
    </if>
    <if condition="$classify.addtime != ''">
      <div class="layui-form-item">
        <label class="layui-form-label">添加时间</label>
        <div class="layui-input-inline">
          <input type="text" name="addtime" lay-verify="addtime" value="{$classify.addtime|date='Y-m-d H:i:s',###}" disabled="disabled"
            autocomplete="off" class="layui-input">
        </div>
      </div>
    </if>
    <div class="layui-form-item">
      <label class="layui-form-label">禁用</label>
      <div class="layui-input-block">
        <input type="radio" name="disable" value="1" title="是" <if condition="$classify.disable == 1">checked</if> >
        <input type="radio" name="disable" value="0" title="否" <if condition="$classify.disable == 0">checked</if> >
      </div>
    </div>
    <div class="layui-form-item">
      <div class="layui-input-block">
        <button class="layui-btn submit" type="button" lay-submit="" lay-filter="demo1">立即提交</button>
        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
      </div>
    </div>
  </form>
  <!--_footer 作为公共模版分离出去-->
  <include file="Public:footer" />
  <!--/_footer /作为公共模版分离出去-->

  <!--请在下方写此页面业务相关的脚本-->
  <script type="text/javascript" src="__ROOT__/Public/static/h-ui.admin/js/jquery-1.8.3.min.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/static/h-ui.admin/layui-v2.2.5/layui/layui.js"></script>

  <script type="text/javascript">
    layui.use(['layer', 'form'], function () {
      var layer = layui.layer
        , form = layui.form;
    });

    $(".submit").click(function () {
      if (!$("input[name='title']").val()) {
        layer.msg('轮播分类名称不能为空');
        return false;
      }
      var files = $('input[type="file"]').prop('files')[0];
      if (!!files) {
        var reader = new FileReader();
        reader.onload = function (oFREvent) {
          upload(oFREvent.currentTarget.result);
        }
        reader.readAsDataURL(files);
      } else {
        if (!'{$classify.id}') {
          layer.msg('图标不能为空');
          return false;
        }
        upload('old');
      }
    })


    function upload(img) {
      $.post("{:U('Article/classify_add')}",
        {
          id: $("input[name='id']").val(),
          p_id: $("input[name='p_id']").val(),
          img: img,
          title: $("input[name='title']").val(),
          disable: $("input[name='disable']:checked").val()
        }, function (res) {
          layer.msg(res.info);
          setTimeout(function () {
            window.parent.location.reload();
          }, 1000)
        })
    }
  </script>
  <!--/请在上方写此页面业务相关的脚本-->
</body>

</html>